@font-face {
  font-family: "Myriad Pro";
  src: url("../../font/Myriad Pro Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:focus, button:focus {
  outline: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Myriad Pro";
  margin: 0;
  padding: 0;
}

.container {
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  width: 172px;
  height: 41px;
  border-radius: 5px;
  background-color: var(--secondary-text-color);
  font-family: "Myriad Pro";
  font-size: 22px;
  line-height: 2;
  color: var(--hero-text-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn__icon {
  width: 32px;
  fill: var(--hero-text-color);
  height: 32px;
}

.--blue {
  background-color: blue;
}

.--red {
  background-color: red;
}

.--yellow {
  background-color: yellow;
}

:root {
  --menu-color: #6c6c6c;
  --logo-color: #000000;
  --title-color: #6f7173;
  --hero-text-color: #ffffff;
  --main-text-color: #909090;
  --secondary-text-color: #5094f2;
}

.header {
  height: 90px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo-wrap {
  display: flex;
  align-items: center;
}
.header__logo-text {
  color: var(--logo-color);
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.header__logo-icon {
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  fill: var(--hero-text-color);
  margin-right: 10px;
}
.header__list {
  display: flex;
  height: 100%;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__item + .header__item {
  margin-left: 27px;
}
.header__link {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--menu-color);
  border-bottom: 3px solid transparent;
}
.header__link:hover, .header__link:focus {
  color: var(--secondary-text-color);
  border-bottom: 3px solid var(--secondary-text-color);
}

.hero {
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero__img {
  width: 345px;
  height: 436px;
}
.hero__content {
  max-width: 395px;
}
.hero__title {
  font-size: 42px;
  line-height: 1.06;
  color: var(--hero-text-color);
  margin-bottom: 23px;
}
.hero__text {
  max-width: 240px;
  font-size: 26px;
  line-height: 1.06;
  color: var(--hero-text-color);
  margin-bottom: 30px;
}
.hero__btn:hover, .hero__btn:focus {
  transform: scale(1.1);
  border: 1px solid var(--hero-text-color);
}

.popular {
  padding-top: 50px;
  padding-bottom: 50px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
}
.popular__item {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular__item .item__img {
  border-radius: 50%;
  width: 186px;
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.popular__item .item__icon {
  width: 98px;
  height: 98px;
  fill: var(--hero-text-color);
}
.popular__item .item__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}
.popular__item .item__text {
  text-align: center;
  color: var(--main-text-color);
}

.shopping {
  padding-top: 50px;
  padding-bottom: 50px;
}
.shopping__title {
  font-size: 42px;
  line-height: 1.05;
  color: var(--title-color);
  margin-bottom: 20px;
}
.shopping__wrap {
  display: flex;
  justify-content: space-between;
}
.shopping__cart {
  max-width: 370px;
}
.shopping__description {
  max-width: 450px;
}
.shopping__subtitle {
  font-size: 26px;
  line-height: 1.69;
  color: var(--title-color);
}
.shopping__text {
  font-size: 15px;
  line-height: 2.4;
  color: var(--main-text-color);
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--main-text-color);
}
.footer .container {
  display: flex;
  justify-content: center;
}
.footer__copyright {
  font-size: 15px;
  line-height: 2.4;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */