.header {

    height: 90px;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__logo-wrap {
        display: flex;
        align-items: center;
    }

    &__logo-text {
        color: var(--logo-color);
        font-size: 42px;
        line-height: 1.2;
        letter-spacing: 0.01em;
    }

    &__logo-icon {
        width: 44px;
        height: 44px;
        background-color: var(--secondary-text-color);
        border-radius: 50%;
        fill: var(--hero-text-color);
        margin-right: 10px;
    }

    &__list {
        display: flex;
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__item + &__item {
        margin-left: 27px;
    }

    &__link {
        display: flex;
        height: 100%;
        align-items: center;
        color: var(--menu-color);
        border-bottom: 3px solid transparent;
        
        &:hover, &:focus {
            color: var(--secondary-text-color);
            border-bottom: 3px solid var(--secondary-text-color);
        }
    }
}

