.popular {

    padding-top: 50px;
    padding-bottom: 50px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .item__img {
            border-radius: 50%;
            width: 186px;
            height: 186px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        & .item__icon {
            width: 98px;
            height: 98px;
            fill: var(--hero-text-color);
        }

        & .item__title {
            margin-bottom: 10px;
            color: var(--secondary-text-color);
        }

        & .item__text {
            text-align: center;
            color: var(--main-text-color);
        }
    }
}